{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "root": true,
  "globals": {
    "Assets": false,
    "chrome": false,
    "jscolor": false
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts",
        ]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.ts"], 
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ],
  "parser": "@typescript-eslint/parser"
}
